.dropdown {
    // border-radius: 5px;
    // margin: 0px auto;
    // float: none;
}

.container {
    width: 90%;
    margin: 0px auto;
    float: none;
}

.table {
    border-radius: 5px;
}

.table-head {
  font-weight: bold;
}